.container {
  max-width: 600px;
  margin: 0 auto;
}

.identifiers-form {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.identifiers-form__label {
  margin-right: 10px;
}

.identifiers-form__input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 4px;
  outline: none;
}

.identifiers-form__count-btn {
  display: flex;
  justify-content: center;
  padding: 6px;
  margin-left: 10px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 4px;
  background-color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.stats-table {
  margin-top: 15px;
  padding: 8px;
  border: 1px solid #000;
}

.stats-item {
  padding-bottom: 10px;
}

.stats-item,
.stats-table__header {
  text-align: center;
  padding-right: 10px;
}

.stats-row__text {
  text-align: left;
}

.stats-item:last-child,
.stats-table__header:last-child {
  padding-right: 0;
}

.notification {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 4px;
  color:rgb(143, 31, 31);
}

.notification__invalid-values {
  display: block;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .hidden-sm {
    display: none;
  }

  .container {
    padding: 0 20px;
  } 

  .identifiers-form {
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .identifiers-form__label {
    width: 100%;
    margin-bottom: 10px;
  }

  .stats-table__row {
    display: flex;
  }

  .stats-item,
  .stats-table__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    text-transform: capitalize;
  }

  .stats-row__text {
    width: 70%;
  }

  .stats-row__words-count,
  .stats-row__vowels-count {
    width: 15%;
  }
}